
<app-component2></app-component2>




<form (change)="setvalue($event)">              
    Top companies that are hiring NOW:
    <input type="radio" value="one"> Full Time
    <input type="radio" value="two"> Part Time
    <input type="radio" value="three">Contract
    <input type="radio" value="another">FreeLance
    ..<input type="reset">
  </form>
  
  
  <div [ngSwitch] ="choose">
  <p *ngSwitchCase="'one'"> <b> (1) Angular Developer - Direct Hire</b><br>
    eNGINE - Cranberry Township, PA<br>
  
      Salary: $85,000.00 to $115,000.00 /year<br>
      
      Job Type: Full-time<br>
      
      <b>Experience:</b><br>
      
      Angular: 1 year (Preferred)<br>
      
      Benefits: Health insurance, Dental insurance, Vision insurance<br>
      Schedule:Monday to Friday<br>
      Temporarily due to COVID-19<br>
      If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process.
      report job.<br>
      
    <label for="cvupload">CV upload</label>
    <input type="file" name="cvupload" >
      <br><br>

      <b>(2) Senior FrontEnd Engineer</b> <br>
      Location- Robinson Township, PA<br>
    
        Salary: $80,000.00 to $105,000.00 /year<br>
        
        Job Type: Full-time<br>
        
        <b>Experience:</b><br>
        
        Angular: 2 years (Preferred)<br>
        
        Benefits: Health insurance, Dental insurance, Vision insurance<br>
        Schedule:Monday to Friday<br>
        Temporarily due to COVID-19<br>
        If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process.
        report job

       <br><br>

        <b>(3)Angular Front-End Developer (REMOTE)</b> <br>
        Location- downtown Pittsburgh, PA<br>
      
          Salary: $95,000.00  /year<br>
          
          Job Type: Full-time<br>
          
         <b>Qualifications</b> <br>
          • Bachelor's degree in Computer Science or related discipline with a minimum of 5 years front end programming experience.<br>
          • Understanding of how to evaluate and improve performance of users' experience.<br>
          • Strong experience with front-end application development tools, techniques and implementations, including frameworks such as Node.js, NPM, Angular, Gulp, Sass, Bootstrap, etc<br>

  </p> 
  
  <p *ngSwitchCase="'two'"><b>(1) UI Developer /Angular Developer</b><br>
    Impact Consulting Solutions, Inc. - Pittsburgh, PA 15205<br>
  
  <b>Knowledge, Skills and Abilities:</b><br>
  
  Experience in developing web applications using AngularJS and Angular 2/4 - 5/6
  HTML, CSS and Typescript hands-on experience to build UI for web applications.<br>
  Experience in writing clean, modular, debuggable TypeScript code using external libraries or custom code
  Providing recommendations on using external libraries, as needed.<br>
  Strong reactive programming skills and experience with RxJs/Streams.<br>
  Experience with the Flux/Redux architectural pattern.<br>
  Experience building and consuming JSON-based RESTful APIs.<br>
  Strong debugging skills using Chrome Dev Tools.<br>
  Experience working with TFS or JIRA.<br>
  Experience working with Git.<br>
  Experience working in an Agile team environment.<br>
  <br><br>
 <b> (2) Sr. Web Developer - Angular, JavaScript</b><br>
  Location- Moon Township,PA<br>
    
Salary Range: $65k and up, plus Bonus<br>
      
      Job Type: Part-time<br>
      
      <b>Experience:</b><br>
      
      Angular: 3 years (Preferred)<br>
      
      Benefits: Health insurance, Dental insurance, Vision insurance<br>
      Schedule:Monday to Friday<br>
     
      If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process..<br>
      
    <label for="cvupload">CV upload</label>
    <input type="file" name="cvupload" >
      <br><br>

      <b>(3) Software Engineer (Java, Angular, WebServices)</b> <br>
      Location- Pittsburgh downtown Area, PA<br>
    
        Salary: $60,000.00 year<br>
        
        Job Type: part-time<br>
        
        Minimum Qualifications<br>
        • Bachelor’s degree or its equivalent in work experience.<br>
        • One year of programming/development experience.<br>
        
        Education, Work Experience, & Knowledge<br>
        • Three years of programming/development experience preferred.<br>
        
        Benefits: Health insurance, Dental insurance, Vision insurance<br>
        Schedule:Monday to Friday<br>  

  </p>
  <p *ngSwitchCase="'three'"><b> (1) Mid-Level Angular Developer / Contract-to-Hire</b><br>
    Motion Recruitment
Chicago, IL<br>
  
  <b>Required Skills & Experience</b><br>
    • Minimum 3 years of development experience.<br>
    • JavaScript, HTML, CSS.<br>
    • Angular 2+ Desired Skills & Experience<br>
    Applicants must be currently authorized to work in the United States on a full-time basis now and in the future.<br>
    • Competitive Pay: Up to $50/hour, DOE<br>
• Contract Duration: 3 - 6 Months<br> 
Tech Breakdown<br>
• 100% Front End with Angular and JavaScript<br>
Daily Responsibilities<br>
• 80% Hands On<br>
• 20% Team Collaboration<br>

    <br>
 <b> (2) Backend Node.js Developer [remote]</b><br>
 Confidential
 Glenview, ILA<br>
    
Salary Range: $65k and up, plus Bonus<br>
      
      <b>Job Type: 8+ months Contract</b><br>
      
      Qualifications

      Experience in angular js and .net development
      
      Additional Information
      
      All your information will be kept confidential according to EEO guidelines.
      y<br>
     
      If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process..<br>
      
    <label for="cvupload">CV upload</label>
    <input type="file" name="cvupload" >
      <br><br>

      <b>(3) Front-End Angular Software Engineer - Contract-to-Hire</b> <br>
      Shulman Fleming & Partners<br>
      Anywhere<br>
        
        <b>This is a contract to hire position.</b><br>
        • Experience with Angular 5, 6 or 7 development.<br>
        • Around 10 yrs Experience with Angular JS and Angular UI applications.<br>
        • API development exposure is a plus but not a must.<br>
        • Should have good design skills.<br>
        • Should be able to Multi-task on development and support tasks.<br>
• Elicit user requirements for new and re-engineered solutions.<br>
        
      <br> </p>
  <p *ngSwitchCase="'another'"> <b> (1) Freelance React Native Developer – Remote, Full-time</b><br>
    Toptal
Atlanta, GA<br>
  
Design your lifestyle as a top freelance developer, with the freedom to work however, wherever, on your terms.<br>

Freelance work is defining the careers of today’s developers in exciting new ways. 
If you’re passionate about working flexibly with leading Fortune 500 brands and innovative Silicon Valley 
startups, Toptal could be a great fit for your next career shift.<br>
That’s why the world’s top 3% of developers choose Toptal. Developers in our elite network share:
<b>Must have:</b><br>
• English language proficiency.<br>
• At least 2-3 years of professional experience.<br>
• Project management skills.<br>
• A keen attention to detail.
  <br><br>
 <b> (2) Frontend development, reactJS, Angular, Vue</b><br>
  Location- Moon Township,PA<br>
    
Salary Range: $65k and up, plus Bonus<br>
      
      Job Type: FreeLance<br>
      
      <b>Experience:</b><br>
      
      Angular: 3 years (Preferred)<br>
      
      Benefits: Health insurance, Dental insurance, Vision insurance<br>
      Schedule:Monday to Friday<br>
     
      If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process..<br>
      
    <label for="cvupload">CV upload</label>
    <input type="file" name="cvupload" >
      <br><br>

      <b>(3) Software Engineer (Java, Angular, WebServices)</b> <br>
      Location- Pittsburgh downtown Area, PA<br>
    
      Looking for a frontend end developer<b>(freelance).</b><br>

      <b>Must haves:</b><br>
      
      - Git<br>
      
      - ReactJS<br>
      
      - English<br>
      
      - Project management skills<br>
      
      <b>Nice to Haves:</b><br>
      
      - AngularJS<br>
      
      - Vue.js<br>
      
      - Golang<br>
      
      - Flutter<br>
      
      - Docker<br>
      
      - Kubernetes<br>
      
      - more..<br>
      
     <b> How this works:</b><br>
      
      - Get selected for interview process.<br>
      
      - 4-6 paid interview/coding<br>
      
      - Interview with team<br>
      
      Individuals only.<br> </p>
  <p *ngSwitchDefault>default</p>
  </div>